.mechanism .center .box1 ul {
	display: flex;
	justify-content: space-around;
	align-items: top;
	flex-wrap: wrap;
	margin: auto;
	margin-bottom: 70px;

}

.mechanism .center {
	width: 100%;
}

.mechanism .center .boxs {
	width: 100%;
	margin: auto;
	margin-bottom: 50px;
}
.mechanism .center .box1{
	width: 76%;
}

.mechanism .center .box1 ul li {
	width: 30%;
	margin: 30px 0;
	border-radius: 10px;
	overflow: hidden;
	padding: 40px 30px;
	
}
.mechanism .center .imgtitle{
	width: 35%;
}
.mechanism .center .imgtitle img{
	width: 100%;
}
.mechanism .center .box1 ul li a{
	color: #fff;
}
.mechanism .center .box1 ul li .mc_bts{
	text-align: right;
	margin-top: 30px;
	line-height: 20px;
}
.mechanism .center .box1 ul li .mc_bts p{
	font-size: 15px;
	line-height: 20px;
}
.mechanism .center .box1 ul li .mc_bts img{
	height: 20px;
	margin-left: 10px;
}
.mechanism .center .box1 ul li:nth-child(1){
	background: url(../img/mcbg1.png) no-repeat center;
	background-size: cover;
}
.mechanism .center .box1 ul li:nth-child(2){
	background: url(../img/mcbg2.png) no-repeat center;
	background-size: cover;
}
.mechanism .center .box1 ul li:nth-child(3){
	background: url(../img/mcbg3.png) no-repeat center;
	background-size: cover;
}
.mechanism .center .box1 ul li:nth-child(4){
	background: url(../img/mcbg4.png) no-repeat center;
	background-size: cover;
}
.mechanism .center .box1 ul li:nth-child(5){
	background: url(../img/mcbg5.png) no-repeat center;
	background-size: cover;
}
.mechanism .center .box1 ul li:nth-child(6){
	background: url(../img/mcbg6.png) no-repeat center;
	background-size: cover;
}
.mechanism .center .box2 .boxcenter{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.mechanism .center .box2{
	
}
.mechanism .center .box2 .boxcenter .left{
	width: 50%;
}
.mechanism .center .box2 .boxcenter .left p{
	text-align: center;
	margin: 25px 0;
	font-size: 22px;
	font-weight: #000;
	font-weight: bold;
}
.mechanism .center .box2 .boxcenter .right{
	width: 45%;
	
}
.mechanism .center .box2 .boxcenter .right img{
	width: 100%;
}
.mechanism .center .box3{
	background: #E3E3E3;
}
.mechanism .center .box3 .boxcenter{
	width: 100%;
	margin: auto;
	padding: 30px 100px;
}
.mechanism .center .box3 .boxcenter p{
	text-align: center;
	margin-top: 20px;
	font-size: 20px;
	font-weight: bold;
	color: rgba(0,0,0,0.4);
}
.mechanism .center .box3 .boxcenter p span{
	margin: 20px;
}
.mechanism .center .box3 .boxcenter img{
	width: 100%;
}
.mechanism .center .box2{
	width: 76%;
}
.mechanism .center .box3>div{
	width: 76%;
	margin: auto;
	padding: 50px 0;
}
.mechanism .center .box4>div{
	width: 76%;
	margin: auto;
	padding: 50px 0;
}
.mechanism .center .box4 img{
width: 100%;
}
.mechanism .center .box4 p{
	text-align: center;
	margin-top: 10px;
	font-size: 20px;
	font-weight: bold;
	color: rgba(0,0,0,0.4);
}
.mechanism .center .box4 p span{
	margin: 0px 20px;
}
.mechanism .center .box4 .boxcenter{
	margin-top: 20px;
}
.mechanism .center .box4 .boxcenter img{
	margin-top: 30px;
}
.mechanism .center .box5{
	background: #E3E3E3;
	padding: 50px 0;
	margin-bottom: 0;
}
.mechanism .center .box5>div{
	width: 76%;
	margin: auto;
}
.mechanism .center .box5 .boxcenter{
	display: flex;justify-content: flex-start;
	align-items: center;
	margin: 50px 0;
}
.mechanism .center .box5 .boxcenter .right{
	margin-left: 50px;
}
.mechanism .center .box5 .boxcenter p{
	
	margin-top: 10px;
	font-size: 20px;
	font-weight: bold;
	
	color: #000;
}
.mechanism .center .box5 .boxcenter p span{
	color: rgba(0,0,0,0.4);
}

.mechanism .center .titles {
	text-align: center;
	margin: 50px 0;
}

.mechanism .center .titles h2 {
	font-size: 3.2rem;
}

.mechanism .titles p {
	color: #787878;
	font-size: 1.6rem;
	line-height: 2;
}