<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>合作伙伴</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="css/reset.css" />
		<link rel="stylesheet" type="text/css" href="css/style.css" />
	</head>
	<body>
		<div class="company" id="company">
			<div class="ding">
				<div class="left">
					<p>登录</p>
					<p>注册</p>
				</div>
				<div class="right">
					<p>微信公众号</p>
				</div>
			</div>
			<div class="nav">
				<ul>
					<li>
						<a href="index.html">首页</a>
					</li>
					<li>
						<a href="news.html">学院动态</a>
					</li>
					<li>
						<a href="mechanism.html">赋能机构</a>
					</li>
					<li>
						<a href="company.html" class="active">合作伙伴</a>
					</li>
					<li>
						<a href="trainingCop.html">实训工场</a>
					</li>
					<li>
						<a href="cyTalent.html">人才风采</a>
					</li>
					<li>
						<a href="talentPolicy.html">人才政策</a>
					</li>
					<li>
						<a href="lookNinghai.html">乐看宁海</a>
					</li>
					<li>
						<a href="aboutXueyuan.html" >关于学院</a>
					</li>
				</ul>
			</div>
			<div class="banner">
				<img src="img/companybanner.png" />
				<div class="title">
					<h2>合作伙伴</h2>
					<p>COOPERATIVE PARTNER</p>
					<span>合作伙伴</span>
				</div>
			</div>
			<div class="center">
				<div class="top">
					<ul>
						<li>
							<p>用人单位</p>
						</li>
						<li class="active">
							<p>合作高校</p>
						</li>
						<li>
							<p>合作部门</p>
						</li>
					</ul>
				</div>
				<div class="boxs boxone">
					<ul class="ulone">
						<li class="lione" v-for="(items,vals) in allsthree" @click="click(items,vals)">
							<a href="EmployerXiangqing.html">
							<div class="left">
								<video poster="img/fengm.jpg" width="100%" height="300" controls="controls">
									<source :src="items.video" type="video/mp4"></source>
								</video>
							</div>
							<div class="right">
								<p>{{items.name}}</p>
								<p>
									<span>
										<img src="img/companypeople.png"/>{{items.size}}
									</span>
									<span v-if="items.type == 2">
									<img src="img/companyqiye.png"/>民营企业</span><span v-else><img src="img/companyqiye.png"/>国营企业</span><span><img src="img/companyhangye.png"/>{{items.industry}}</span></p>
							</div>
							</a>
						</li>
					</ul>
				</div>
				<div class="boxtwo boxs active">
					<div class="title">
						<h2>合作高校接洽培训</h2>
						<p>与多所高校达成长期合作 学院培训</p>
					</div>
					<ul class="ultwo">
						<li class="litwo" v-for="item in allsone">
							<div class="left" :data-key="item.id" @click="an">
								<a href="universities.html">
									<img :src="item.img" />
								</a>
							</div>
						</li>
					</ul>
				</div>
				<div class="boxs boxthree">
					<ul class="ulthree">
						<li class="lithree" v-for="(item,val) in allstwo">
							<div class="left">
								<img :src="item.img"/>
							</div>
							<div class="right">
								<p>{{item.name}}</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="footer">
				<img src="img/footer.png" />
				<div class="left">
					<div class="footerwenzi">
						<img src="img/footerwenzi.png" >
					</div>
					<ul>
						<li>
							<p><img src="img/footerphone.png" />0574-88888888</p>
						</li>
						<li>
							<p><img src="img/footeremil.png" />webmaster@tsinghua.edu.cn</p>
						</li>
						<li>
							<p><img src="img/footerdizhi.png" />宁海县技工学校</p>
						</li>
					</ul>
				</div>
				<div class="right">
					<p>关注公众号</p>
					<ul>
						<li>
							<img src="img/ewm.png" alt="" />
							<p>微信扫码关注订阅号</p>
						</li>
						<li>
							<img src="img/ewm.png" alt="" />
							<p>微信扫码关注订阅号</p>
						</li>
					</ul>
				</div>
				
				<div class="down">
					<div class="text">
						<a href="###" target="_blank">版权所有 © 宁波软通教育科技公司</a>
						<a href="https://beian.miit.gov.cn/#/Integrated/index" target="_blank"><img src="img/beian.png" />浙公网安备 33022602000429号</a>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script src="js/jquery-3.5.1.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/paginathing.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/paginathing.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/axios.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/wyq.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		var ve = new Vue({
			el:"#company",
			data:{
				allsone:"",
				allsthree:"",
			},
			created(){
				this.getone();
			},
			mounted() {
				
			},
			methods:{
				an(e){
					let key = e.path[2].dataset.key;
					for(let i=0;i<this.allsone.length;i++){
						if(this.allsone[i].id == key){
							// console.log(this.allsone[i])
							localStorage.setItem("data", JSON.stringify(this.allsone[i]));
						}
					}
				},
				getone(){
					var that = this;
					
					wyq.ajax(function(ret, err, dat) {
						that.allsone = ret
					}, "findByPartnerAll", "get", {}, {});
					
					wyq.ajax(function(ret, err, dat) {
						that.allsthree = ret
					}, "findAllCompany", "post", {}, {});
					wyq.ajax(function(ret, err, dat) {
						that.allstwo = ret
					}, "findByCooperativeAll", "get", {}, {});
				},
				click(e,ind){
					// console.log(e.id);
					sessionStorage.setItem("idqy", e.id);
					sessionStorage.setItem("xiabiao", ind);
				},
			}
		});
		$(document).ready(function($) {
			$('.ulone').paginathing({
				perPage: 9,
				containerClass: 'boxone',
				limitPagination: 3,
				pageNumbers: false,
			});
			$('.ultwo').paginathing({
				perPage: 6,
				containerClass: 'boxtwo',
				limitPagination: 3,
				pageNumbers: false,
			});
			$('.ulthree').paginathing({
				perPage: 9,
				containerClass: 'boxthree',
				limitPagination: 3,
				pageNumbers: false,
			})
		});
		$(".center .top li").click(function() {
			var cl = $(this).index();
			$(".center .top li").removeClass("active").eq(cl).addClass("active");
			$(".company .center .boxs").removeClass("active").eq(cl).addClass("active");
		});
		
	</script>

</html>