<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title>人才风采</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="css/reset.css" />
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		
	</head>

	<body>
		<div class="tPolicy" id="tPolicy">
			<div class="ding">
				<div class="left">
					<p>登录</p>
					<p>注册</p>
				</div>
				<div class="right">
					<p>微信公众号</p>
				</div>
			</div>
			<div class="nav">
				<ul>
					<li>
						<a href="wrap.html">首页</a>
					</li>
					<li>
						<a href="news.html">学院动态</a>
					</li>
					<li>
						<a href="mechanism.html">赋能机构</a>
					</li>
					<li>
						<a href="company.html">合作伙伴</a>
					</li>
					<li>
						<a href="trainingCop.html">实训工厂</a>
					</li>
					<li>
						<a href="cyTalent.html">人才风采</a>
					</li>
					<li>
						<a href="talentPolicy.html" class="active">人才政策</a>
					</li>
					<li>
						<a href="lookNinghai.html">乐看宁海</a>
					</li>
					<li>
						<a href="aboutXueyuan.html">关于学院</a>
					</li>
				</ul>
			</div>
			<div class="banner">
				<img src="img/tPolicebanner.png" />
				<div class="title">
					<h2>人才政策</h2>
					<p>TALENT POLICY</p>
					<span>人才政策</span>
				</div>
			</div>
			<!-- 内容 -->
			<div class="center" style="margin-top: 30px;">
				<div class="top">
					<ul>
						<li class="active">
							市级人才政策
						</li>
						<li>
							县级人才政策
						</li>
					</ul>
				</div>
				<div class="top_down">
					<!-- 市级 -->
					<div class="municipal boxs active">
						<div class="TpContent" v-for="(items,vals) in allsone">
							<div class="box1s">
								<span>{{items.time.day}}</span>
								<span>{{items.time.mond}}</span>
							</div>
							<div class="box2s">
								<h3>{{items.name}}</h3>
								<div>
									<p v-html="items.content">{{items.content}}</p>
									<div class="ko" @click="clicks(items)">查&nbsp;&nbsp;看<br>更&nbsp;&nbsp;多</div>
								</div>
							</div>
						</div>
					</div>
					<!-- 县级 -->
					<div class="countyLevel boxs">
						<div class="TpContent" v-for="(items,vals) in allstwo">
							<div class="box1s">
								<span>{{items.time.day}}</span>
								<span>{{items.time.mond}}</span>
							</div>
							<div class="box2s">
								<h3>{{items.name}}</h3>
								<div>
									<p v-html="items.content">{{items.content}}</p>
									<div class="ko" @click="clicks(items)">查&nbsp;&nbsp;看<br>更&nbsp;&nbsp;多</div>
								</div>
							</div>
						</div>


					</div>
				</div>
			</div>

			<div class="footer">
				<img src="img/footer.png" />
				<div class="left">
					<h3>宁海县产业人才学院</h3>
					<p>有中心无边界，没有围墙的大学</p>
					<ul>
						<li>
							<p><img src="img/footerphone.png" />0574-88888888</p>
						</li>
						<li>
							<p><img src="img/footeremil.png" />webmaster@tsinghua.edu.cn</p>
						</li>
						<li>
							<p><img src="img/footerdizhi.png" />宁海县技工学校</p>
						</li>
					</ul>
				</div>
				<div class="right">
					<p>关注公众号</p>
					<ul>
						<li>
							<img src="img/ewm.png" alt="" />
							<p>微信扫码关注订阅号</p>
						</li>
						<li>
							<img src="img/ewm.png" alt="" />
							<p>微信扫码关注订阅号</p>
						</li>
					</ul>
				</div>

				<div class="down">
					<div class="text">
						<a href="###" target="_blank">版权所有 © 宁波软通教育科技公司</a>
						<a href="https://beian.miit.gov.cn/#/Integrated/index" target="_blank"><img src="img/beian.png" />浙公网安备 33022602000429号</a>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script src="js/jquery-3.5.1.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/axios.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/wyq.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		var ve = new Vue({
			el: "#tPolicy",
			data: {
				allsone: "",
				allstwo: "",
			},
			created() {

			},
			mounted() {
				this.gets();
			},
			methods: {
				gets() {
					var that = this;
					wyq.ajax(function(ret, err, dat) {
						for (var j = 0; j < ret.length; j++) {
							var data = new Date(ret[j].time);
							var Y = data.getFullYear() + "-";
							var M = (data.getMonth() + 1 < 10 ? '0' + (data.getMonth() + 1) : data
						.getMonth());
							var D = (data.getDate() < 10 ? '0' + data.getDate() : data.getDate());
							var arr = {
								day: D,
								mond: Y + M,
							};
							ret[j].time = arr;
						}
						that.allsone = ret;
					}, "getByAllIndustrial/0", "get", {
						
					}, {});
					wyq.ajax(function(ret, err, dat) {
						for (var j = 0; j < ret.length; j++) {
							var data = new Date(ret[j].time);
							var Y = data.getFullYear() + "-";
							var M = (data.getMonth() + 1 < 10 ? '0' + (data.getMonth() + 1) : data
						.getMonth());
							var D = (data.getDate() < 10 ? '0' + data.getDate() : data.getDate());
							var arr = {
								day: D,
								mond: Y + M,
							};
							ret[j].time = arr;
						}
						that.allstwo = ret;
					}, "getByAllIndustrial/1", "get", {
						
					}, {});
					
					$(".center .top li").click(function() {
						var cl = $(this).index();
						$(".center .top li").removeClass("active").eq(cl).addClass("active");
						$(".tPolicy .center .top_down .boxs").removeClass("active").eq(cl).addClass("active");
					});
				},
				clicks(e) {
					console.log(e.type);
					sessionStorage.setItem("types", e.type);
					sessionStorage.setItem("ids", e.id);
					window.location.href = 'talentPolicyxiangqing.html'
				},
			}
		})
	</script>

</html>
<!---->
