<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>首页</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="css/reset.css" />
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<link rel="stylesheet" type="text/css" href="css/swiper-bundle.min.css" />
		<script src="js/jquery-3.5.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/paginathing.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/paginathing.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/swiper-bundle.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<style type="text/css">
			.swiper-container {
				width: 100%;
			}
			
			.swiper-container {
				--swiper-pagination-color: #1EB4B1;
			}
			
			.swiper-pagination-bullet {
				border-radius: 0;
				width: 50px;
				height: 5px;
				background: #fff;
				opacity: 1;
			}
			
			.swiper-pagination-bullet-active {
				width: 70px;
				background: #1EB4B1;
			}
		</style>
	</head>

	<body>
		<div id="wrap">
			<div class="tops">
				<div class="ding">
					<div class="left">
						<p>登陆a1</p>
						<p>注册</p>
					</div>
					<div class="right">
						<p>微信公众号</p>
					</div>
				</div>
				<div class="logos">
					<a href="wrap.html"><img src="img/logo.png" /></a>
				</div>
				<div class="nav">
					<ul>
						<li>
							<a href="news.html">学院动态</a>
						</li>
						<li>
							<a href="mechanism.html">赋能机构</a>
						</li>
						<li>
							<a href="company.html">合作伙伴</a>
						</li>
						<li>
							<a href="trainingCop.html">实训工厂</a>
						</li>
						<li>
							<a href="cyTalent.html">人才风采</a>
						</li>
						<li>
							<a href="talentPolicy.html">人才政策</a>
						</li>
						<li>
							<a href="lookNinghai.html">乐看宁海</a>
						</li>
						<li>
							<a href="aboutXueyuan.html">关于学院</a>
						</li>
					</ul>
				</div>
			</div>

			<div class="banner">
				<div class="swiper-container swipers1">
					<div class="swiper-wrapper">
						<div class="swiper-slide"><img src="img/wrapbanner1.png" /></div>
						<div class="swiper-slide"><img src="img/wrapbanner2.png" /></div>
						<div class="swiper-slide"><img src="img/wrapbanner3.png" /></div>
					</div>
					
					
				</div>
			</div>
			<div class="center">
				<div class="box1">
					<div class="title">
						<h2><span>百亿产业项目</span></h2>
						<p>TEN BILLION INDUSTRIAL PROJECTS</p>
					</div>
					<ul>
						<li>
							<img src="img/wrapbox11.png" />
							<p>文体办公</p>
						</li>
						<li>
							<img src="img/wrapbox12.png" />
							<p>汽车制造及模具</p>
						</li>
						<li>
							<img src="img/wrapbox13.png" />
							<p>电子信息</p>
						</li>

					</ul>
				</div>
				<div class="box2">
					<div class="left">
						<ul>
							<li>
								<img src="img/wrapbox2l1.png" />
								<p>智能家电</p>
							</li>
							<li>
								<img src="img/wrapbox2l2.png" />
								<p>节能环保</p>
							</li>
						</ul>
					</div>
					<div class="right">
						<ul>
							<li>
								<img src="img/wrapbox2r1.png" />
								<p>生物医药</p>
							</li>
							<li>
								<img src="img/wrapbox2r2.png" />
								<p>高端装备</p>
							</li>
							<li>
								<img src="img/wrapbox2r3.png" />
								<p>新型材料</p>
							</li>
							<li>
								<img src="img/wrapbox2r4.png" />
								<p>关键器件</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="box3">
				<img src="img/wrapbox3banner.png" />
				<div class="masks">
					<div class="left">
						<img src="img/wrapbox3l.png" />
					</div>
					<div class="right">
						<h3>"1+3N"模式的产业人才培养体系</h3>
						<p>宁海产业学院，构筑聚焦培养宁海“365”产业发展的高技能人才摇篮 利用“1+3N”模式（1个产业学院加一批高校、一批产业、一批人力资 源服务机构） 打造集学习、生活、实训、展示、宣传为一体的产教融合综合场所，计划建造1个集训基地、10个实训工厂和10个高校合作基地 3年内培养5000个学生，着力构建技能人才新高地，打造支撑县域经济 高质量发展的新引擎
						</p>
					</div>
				</div>
			</div>
			<div class="box4">
				<img src="img/wrapbox4bg.png" />
				<div class="masks">
					<div class="swiper-container swipers2">
						<div class="swiper-wrapper">
							<div class="swiper-slide"><img src="img/wrapbox4img1.png" /></div>
							<div class="swiper-slide"><img src="img/wrapbox4img1.png" /></div>
							<div class="swiper-slide"><img src="img/wrapbox4img1.png" /></div>
							<div class="swiper-slide"><img src="img/wrapbox4img1.png" /></div>
						</div>
						<!-- 如果需要分页器 -->
						<div class="swiper-pagination"></div>
					</div>
				</div>
				<div class="right">
					<h2>学院动态</h2>
					<p v-html="item.introduce" v-for="(item,val) in arrs.slice(0,1)">
						{{item.introduce}}
					</p>
					<div class="btns">
						<span>MORE</span>
					</div>
				</div>
			</div>
			<div class="box5">
				<img src="img/wrapbox5bg.png"/>
				<div class="titles">
					<h2>职业数据统计</h2>
					<p>平台数据信息自2015至2021年 定期更新数据 确保数据实时更新准确</p>
				</div>
				<ul>
					<li>
						<img src="img/wrapbox5img1.png"/>
						<p>5800+</p>
					</li>
					<li>
						<img src="img/wrapbox5img2.png"/>
						<p>5800+</p>
					</li>
					<li>
						<img src="img/wrapbox5img3.png"/>
						<p>5800+</p>
					</li>
					<li>
						<img src="img/wrapbox5img4.png"/>
						<p>58%</p>
					</li>
					
				</ul>
			</div>
			<div class="box6">
				<ul>
					<li>
						<img src="img/school1.png"/>
					</li>
					<li>
						<img src="img/school2.png"/>
					</li>
					<li>
						<img src="img/school3.png"/>
					</li>
					<li>
						<img src="img/school4.png"/>
					</li>
					<li>
						<img src="img/school1.png"/>
					</li>
					<li>
						<img src="img/school2.png"/>
					</li>
					<li>
						<img src="img/school3.png"/>
					</li>
					<li>
						<img src="img/school4.png"/>
					</li>
				</ul>
			</div>
			<div class="box7">
				<img src="img/wrapbox4bg.png"/>
				<div class="masks">
					<img src="img/wrapbox7imgs.png"/>
				</div>
			</div>
			<div class="box8">
				<div class="titles">
					<h2>实训工厂</h2>
					<p>TRAINING FACTOR</p>
				</div>
				<ul>
					<li v-for="(item,val) in alls.slice(0,6)" @click="clickgongc(val)" >
						<video width="100%" height="500" controls="controls">
									<source :src="item.video" type="video/mp4"></source>
						</video>
						<a href="trainingCopXiangqing.html">
						<p>{{item.companyName}}</p>
						<span><img src="img/detastimes.png"/>{{item.foundTime}}</span>
						</a>
					</li>
					
					
				</ul>
			</div>
			<div class="footer">
				<img src="img/footer.png" />
				<div class="left">
					<h3>宁海县产业人才学院</h3>
					<p>有中心无边界，没有围墙的大学</p>
					<ul>
						<li>
							<p><img src="img/footerphone.png" />0574-88888888</p>
						</li>
						<li>
							<p><img src="img/footeremil.png" />webmaster@tsinghua.edu.cn</p>
						</li>
						<li>
							<p><img src="img/footerdizhi.png" />宁海县技工学校</p>
						</li>
					</ul>
				</div>
				<div class="right">
					<p>关注公众号</p>
					<ul>
						<li>
							<img src="img/ewm.png" alt="" />
							<p>微信扫码关注订阅号</p>
						</li>
						<li>
							<img src="img/ewm.png" alt="" />
							<p>微信扫码关注订阅号</p>
						</li>
					</ul>
				</div>
				
				<div class="down">
					<div class="text">
						<a href="###" target="_blank">版权所有 © 宁波软通教育科技公司</a>
						<a href="https://beian.miit.gov.cn/#/Integrated/index" target="_blank"><img src="img/beian.png" />浙公网安备 33022602000429号</a>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script src="js/wyq.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		var ve = new Vue({
			el:"#wrap",
			data:{
				alls:"",
				arrs:"",
			},
			created(){
				this.getgongc();
			},
			updated() {
				var mySwiper1 = new Swiper('.swipers1', {
					direction: 'horizontal', // 垂直切换选项
					loop: true, // 循环模式选项
					speed: 1000,
					autoplay: {
						delay: 2000,
						disableOnInteraction: false,
					},
				});
				var mySwiper2 = new Swiper('.swipers2', {
					direction: 'horizontal', // 垂直切换选项
					loop: true, // 循环模式选项
					speed: 1000,
					autoplay: {
						delay: 2000,
						disableOnInteraction: false,
					},
				
					// 如果需要分页器
					pagination: {
						el: '.swiper-pagination',
						clickable: true,
					},
				});
			},
			methods: {
				getgongc() {
					var that = this;
					wyq.ajax(function(ret, err, dat) {
						for(var j = 0;j <ret.length; j++) {
							var data = new Date(ret[j].foundTime);
							var Y = data.getFullYear() + '-'
							var M = (data.getMonth()+1 < 10 ? '0'+(data.getMonth()+1) : data.getMonth()+1) + '-';
							var D = data.getDate() + ' ';
							var tit = Y+M+D;
							ret[j].foundTime = tit;
						};
						that.alls = ret;
					}, "findByTrainingFactoryAll", "get", {}, {});
					wyq.ajax(function(ret, err, dat) {
						that.arrs = ret;
					}, "findByCollegeNewsAll", "get", {}, {});
				},
				clickgongc(e) {
					console.log(e);
					sessionStorage.setItem("xiabiao", e);

				},
			}
			
		})
	</script>

</html>